<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="Comment" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <resultMap id="CommentUnionStudent" type="comment" extends="BaseResultMap">
        <result column="nickName" property="nickName"/>
        <result column="avatarUrl" property="avatarUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, type, article_id, create_time
    </sql>
    <sql id="Blob_Column_List">
        content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tbl_comment
        where id = #{id,jdbcType=INTEGER} order by id desc
    </select>
    <select id="findCommentsByArticleId" resultType="comment" resultMap="CommentUnionStudent">
        select tbl_comment.*,tbl_student.nickName,tbl_student.avatarUrl
        from tbl_comment LEFT outer join tbl_student  on tbl_comment.uid = tbl_student.uid
        where article_id = #{articleId}
          and type = #{type} order by id desc
    </select>
    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        delete
        from tbl_comment
        where article_id = #{articleId}
          AND type = #{articleType}
    </delete>
    <delete id="deleteByPrimaryId" parameterType="java.lang.Integer">
        delete
        from tbl_comment
        where id = #{id}
    </delete>
    <insert id="insertByComment" parameterType="Comment">
        insert into tbl_comment (uid, type,
                                 article_id, create_time, content)
        values (#{uid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT},
                #{articleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="Comment">
        insert into tbl_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="Comment">
        update tbl_comment
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="Comment">
        update tbl_comment
        set uid         = #{uid,jdbcType=INTEGER},
            type        = #{type,jdbcType=TINYINT},
            article_id  = #{articleId,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            content     = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="Comment">
        update tbl_comment
        set uid         = #{uid,jdbcType=INTEGER},
            type        = #{type,jdbcType=TINYINT},
            article_id  = #{articleId,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>