<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <resultMap id="CommentUnionStudent" type="net.gupt.community.vo.CommentVo" extends="BaseResultMap">
        <result column="nickName" property="student.nickName"/>
        <result column="avatarUrl" property="student.avatarUrl"/>
    </resultMap>
    <select id="findCommentsByArticleId" resultType="comment" resultMap="CommentUnionStudent">
        SELECT tbl_comment.*,tbl_student.nickName,tbl_student.avatarUrl
        FROM tbl_comment LEFT OUTER JOIN tbl_student  ON tbl_comment.uid = tbl_student.uid
        WHERE article_id = #{articleId}
          AND type = #{type} ORDER BY id DESC
    </select>
    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        DELETE
        FROM tbl_comment
        WHERE article_id = #{articleId}
          AND type = #{articleType}
    </delete>
    <delete id="deleteByPrimaryId" parameterType="integer">
        DELETE FROM tbl_comment WHERE id = #{id}
    </delete>
    <insert id="insertByComment" parameterType="Comment">
        INSERT INTO tbl_comment (uid, type,
                                 article_id, create_time, content)
        VALUES (#{uid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT},
                #{articleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
    </insert>

</mapper>