<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.FoundMapper">
    <!--基础的映射-->
    <resultMap id="BaseResultMap" type="net.gupt.community.entity.Found">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="contact_number" property="contactNumber" jdbcType="VARCHAR"/>
        <result column="lost_time" property="lostTime" jdbcType="VARCHAR"/>
        <result column="lost_name" property="lostName" jdbcType="VARCHAR"/>
        <result column="lost_class" property="lostClass" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="article_state" property="articleState" jdbcType="BIT"/>
        <result column="lost_describe" property="lostDescribe" jdbcType="LONGVARCHAR"/>
        <result column="top" property="top"/>
    </resultMap>
    <!--数据库字段与Vo对象的字段映射配置-->
    <resultMap id="FoundVoMap" type="net.gupt.community.vo.FoundVo" extends="BaseResultMap">

        <result column="nickName" property="student.nickName"/>
        <result column="avatarUrl" property="student.avatarUrl"/>
        <result column="view_num" property="likes.viewNum"/>
        <collection property="img" ofType="net.gupt.community.entity.Img">
            <result column="img_url" property="imgUrl"/>
        </collection>
    </resultMap>
    <!--动态获取所有的失物-->
    <select id="findAllFound" resultMap="FoundVoMap">
        SELECT tbl_found.*,
        tbl_student.nickname,
        tbl_student.avatarUrl,
        GROUP_CONCAT(DISTINCT img_url SEPARATOR '|') as img_Url,
        coalesce(sum(view_num), 0) as view_num
        FROM tbl_found
        LEFT OUTER JOIN tbl_img
        ON tbl_found.id = tbl_img.article_id and tbl_img.article_type = 2
        LEFT OUTER JOIN tbl_student
        ON tbl_found.uid = tbl_student.uid
        LEFT OUTER JOIN tbl_views
        ON tbl_found.id = tbl_views.article_id and tbl_views.article_type = 2
        <!--动态条件查询-->
        <where>
            <if test="id != null">
                and tbl_found.id = #{id}
            </if>
            <if test="uid != null">
                and tbl_found.uid = #{uid}
            </if>
            <if test="articleState !=null">
                and tbl_found.article_state =#{articleState}
            </if>
            <if test="isTop !=null">
                and top = #{isTop}
            </if>
            <if test="isSearch == 0">
                and title REGEXP #{searchContent} or lost_describe REGEXP #{searchContent}
            </if>
        </where>
        GROUP BY tbl_found.id desc
    </select>
    <!--通过主键删除所有有关失物信息-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE community.tbl_found,community.tbl_comment,tbl_img,community.tbl_views
        FROM tbl_found
                 LEFT JOIN tbl_comment ON tbl_found.id = tbl_comment.article_id AND type = 2
                 LEFT JOIN tbl_img ON tbl_found.id = tbl_img.article_id AND tbl_img.article_type = 2
                 LEFT JOIN  tbl_views ON tbl_found.id = tbl_views.article_id AND tbl_views.article_type = 2
        WHERE tbl_found.id = #{id};
    </delete>
    <!--发送失物信息检验NULL-->
    <insert id="insertSelective" parameterType="net.gupt.community.entity.Found">
        <selectKey keyProperty="id" keyColumn="id" resultType="java.lang.Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        insert into tbl_found
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="postTime != null">
                post_time,
            </if>
            <if test="contactNumber != null">
                contact_number,
            </if>
            <if test="lostTime != null">
                lost_time,
            </if>
            <if test="lostName != null">
                lost_name,
            </if>
            <if test="lostClass != null">
                lost_class,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="articleState != null">
                article_state,
            </if>
            <if test="lostDescribe != null">
                lost_describe,
            </if>
            <if test="top != null">
                top
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                #{postTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contactNumber != null">
                #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="lostTime != null">
                #{lostTime,jdbcType=VARCHAR},
            </if>
            <if test="lostName != null">
                #{lostName,jdbcType=VARCHAR},
            </if>
            <if test="lostClass != null">
                #{lostClass,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="articleState != null">
                #{articleState,jdbcType=BIT},
            </if>
            <if test="lostDescribe != null">
                #{lostDescribe,jdbcType=LONGVARCHAR},
            </if>
            <if test="top !=null">
                #{top}
            </if>

        </trim>
    </insert>
    <!--更新失物状态|更新帖子的是否置顶-->
    <update id="updateFoundStatusById" parameterType="net.gupt.community.entity.Found">
        UPDATE tbl_found
        <set>
            <if test="articleState !=null">
                article_state = #{articleState},
            </if>
            <if test="top !=null">
                top = #{top}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>