<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.LikesMapper">
    <resultMap id="BaseResultMap" type="Likes">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_type" property="articleType" javaType="Byte"/>
        <result column="love_num" property="loveNum" javaType="int"/>
        <result column="view_num" property="viewNum" javaType="int"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, article_id,article_type,love_num,view_num
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_likes
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--查询是否点过赞-->
    <select id="findIsLikes" resultType="Likes">
        SELECT community.tbl_likes.uid from community.tbl_likes where article_id =#{articleId} and article_type =#{articleType}
        and uid = #{uid}
    </select>
    <!--查询是否浏览过-->
    <select id="findIsViews" resultType="Likes">
        SELECT community.tbl_views.uid from community.tbl_views where article_id =#{articleId} and article_type =#{articleType}
        and uid = #{uid}
    </select>
    <!--统计点赞数-->
    <select id="findLikes" resultType="Likes" resultMap="BaseResultMap">
        select coalesce (sum(love_num),0) as love_num
        from community.tbl_likes
        where article_id = #{articleId} and article_type = #{articleType}
    </select>
    <!--浏览量-->
    <select id="findView" resultType="Likes" resultMap="BaseResultMap">
        SELECT coalesce (sum(view_num),0) as view_num
        from community.tbl_views
        where article_id = #{articleId} and article_type = #{articleType}
    </select>
    <!--点赞,浏览(整合多表)-->
    <insert id="insertLikes" parameterType="Likes">
        insert into
        <choose>
            <when test="loveNum !=null">
                tbl_likes
            </when>
            <otherwise>
                tbl_views
            </otherwise>
        </choose>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid !=null">
                uid,
            </if>
            <if test="articleId !=null">
                article_id,
            </if>
            <if test="articleType !=null">
                article_type,
            </if>
            <if test="loveNum !=null">
                love_num,
            </if>
            <if test="viewNum !=null">
                view_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uid},#{articleId},#{articleType},
            <choose>
                <when test="loveNum !=null and loveNum !=0">
                    love_num +1,
                </when>
            </choose>
            <choose>
                <when test="viewNum !=null and viewNum !=0">
                    view_num + 1,
                </when>
            </choose>
        </trim>
    </insert>

    <!--取消点赞-->
    <delete id="deleteLikes">
        delete from tbl_likes where article_id = #{articleId}
        and  article_type = #{articleType}
        and  uid = #{uid}
    </delete>

    <!--以下配置是自动生成的-->
    <update id="updateByPrimaryKeySelective" parameterType="Likes">
        update tbl_likes
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="Likes">
        update tbl_likes
        set uid        = #{uid,jdbcType=INTEGER},
            article_id = #{articleId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>