<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.LikesMapper">
    <resultMap id="BaseResultMap" type="Likes">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_type" property="articleType" javaType="Byte"/>
        <result column="is_like" property="isLike"/>
        <result column="is_view" property="isView"/>
        <result column="love_num" property="loveNum" javaType="int"/>
        <result column="view_num" property="viewNum" javaType="int"/>
    </resultMap>
    <select id="findLikes" resultType="Likes" resultMap="BaseResultMap">
        SELECT COALESCE(sum(love_num), 0) AS love_num
        FROM community.tbl_likes
        WHERE article_id = #{articleId}
          AND article_type = #{articleType}
    </select>
    <!--浏览量-->
    <select id="findView" resultType="Likes" resultMap="BaseResultMap">
        SELECT COALESCE(sum(view_num), 0) AS view_num
        FROM community.tbl_views
        WHERE article_id = #{articleId}
          AND article_type = #{articleType};
    </select>
    <!--查询是否点过赞-->
    <select id="findIsLikes" resultType="net.gupt.community.entity.Likes">
        SELECT community.tbl_likes.uid
        FROM community.tbl_likes
        WHERE article_id = #{articleId}
          AND article_type = #{articleType}
          AND uid = #{uid}
    </select>
    <!--查询是否浏览过-->
    <select id="findIsViews" resultType="net.gupt.community.entity.Likes">
        SELECT community.tbl_views.uid
        FROM community.tbl_views
        WHERE article_id = #{articleId}
          AND article_type = #{articleType}
          AND uid = #{uid}
    </select>
    <!--点赞,浏览(整合多表)-->
    <insert id="insertLikes" parameterType="Likes">
        INSERT INTO
        <choose>
            <when test="loveNum > 0">
                tbl_likes
            </when>
            <otherwise>
                tbl_views
            </otherwise>
        </choose>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="articleType != null">
                article_type,
            </if>
            <if test="loveNum > 0">
                love_num,
            </if>
            <if test="viewNum > 0">
                view_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uid},#{articleId},#{articleType},
            <choose>
                <when test="loveNum != 0">
                    love_num +1,
                </when>
            </choose>
            <choose>
                <when test="viewNum != 0">
                    view_num + 1,
                </when>
            </choose>
        </trim>
    </insert>

    <!--更新点赞状态-->
    <update id="updateLikeStatus" parameterType="Likes">
        UPDATE tbl_likes SET tbl_likes.is_like = #{isLike}
         WHERE article_id = #{articleId}
          AND article_type = #{articleType}
          AND uid = #{uid}
    </update>
    <!--取消点赞-->
    <delete id="deleteLikes">
        DELETE
        FROM tbl_likes
        WHERE article_id = #{articleId}
          AND article_type = #{articleType}
          AND uid = #{uid}
    </delete>

</mapper>