<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.MsgMapper">
    <resultMap id="BaseResultMap" type="net.gupt.community.entity.Msg">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="poster_uid" property="posterUid" jdbcType="INTEGER"/>
        <result column="receiver_uid" property="receiverUid" jdbcType="INTEGER"/>
        <result column="post_time" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="is_obtain" property="isObtain"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="msg_type" property="msgType"/>
    </resultMap>

    <select id="findMsgByReceiver" resultMap="BaseResultMap">
        SELECT *
        FROM tbl_msg
        WHERE receiver_uid = #{receiverUid}
          AND is_obtain = 0
    </select>


    <!--插入信息-->
    <insert id="insert" parameterType="net.gupt.community.entity.Msg">
        <selectKey keyColumn="id" keyProperty="id" resultType="int" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO tbl_msg (poster_uid, receiver_uid,is_obtain,
        post_time,content,msg_type)
        VALUES (#{posterUid,jdbcType=INTEGER}, #{receiverUid,jdbcType=INTEGER},#{isObtain},
        #{postTime,jdbcType=TIMESTAMP},#{content,jdbcType=LONGVARCHAR},#{msgType})
    </insert>

    <!--删除信息-->
    <delete id="deleteMsg" parameterType="int">
        DELETE
        FROM tbl_msg
        WHERE receiver_uid = #{receiverUid}
    </delete>


    <!--删除信息-->
    <delete id="deleteMsgById" parameterType="int">
        DELETE
        FROM tbl_msg
        WHERE id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="net.gupt.community.entity.Msg">
        UPDATE tbl_msg
        SET poster_id   = #{posterUid,jdbcType=INTEGER},
            receiver_id = #{receiverUid,jdbcType=INTEGER},
            post_time   = #{time,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>